.countries {
    margin: 0px;
    padding: 0px;
    gap: 3rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.countries0 {
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 23%);
    list-style: none;
    row-gap: 2em;
    justify-content: space-between;
}


@media (max-width: 500px) {
    .countries0 {
        grid-template-columns: 1fr;
    }

    .countries {
        flex-direction: column;
    }
}