.filter {
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    width: 10rem;
    position: relative;
    margin-right: 2rem;
}

.filter button {
    all: unset;
    background-color: var(--elements);
    box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.377);
    padding: 1rem;
    color: var(--text);
    width: 100%;
    position: relative;
    border-radius: 0.5rem;
    font-weight: 600;

}

.filter button::after {
    position: absolute;
    right: 0%;
    font: var(--fa-font-solid);
    content: "\f078";
    margin-right: 1rem;
    transition: transform 200ms ease-in;
}

.rotate::after {
    transform: rotate(180deg);
}

.dropdown {
    all: unset;
    box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.377);
    border-radius: 0.5rem;
    z-index: 1;
    background-color: var(--elements);
    margin-top: 0.5rem;
    list-style: none;
    position: absolute;
    width: 100%;
    padding: 0.5rem 1rem;
    text-align: start;
}

.dropdown li {
    color: var(--text);
    width: 100%;
    padding: 0.2rem 1rem;
    border-width: 1px;
}

.dropdown li:not(:first-child) {
    margin-top: 0.5rem;
}

.dropdown li:hover {
    background-color: var(--hover);
}


.visible {
    display: none;
}